#search-sidebar {
    background-color: #f8f9fa;
    padding: 15px;
}

#weather-dash{
    /* padding: 15px; */
    border: 2px solid  hotpink;
}

nav span {
    width: 100%!important;
    text-align: center!important;
    font-size: 30pt!important;
}

#search-history{
    margin-bottom: 15px;
}

#current-weather{
    margin-bottom: 15px;
    width: 100%;
}

#current-city-name{
    margin: 0px;
    /* TODO: vertical align */
}

h4 {
    padding-left: 20px;
}

.forecast {
    background-color: #0069da;
    border-radius: 5px;
    color: white;
}